{:pods {clj-kondo/clj-kondo {:version "2022.02.09"}}
 :deps {io.github.borkdude/quickdoc
        ;; {:local/root "/Users/borkdude/dev/quickdoc"}
        {:git/sha "1e1e814dcba04b7a5538ff6b6ffcc19bcc2bd867"}}

 :tasks
 {:requires ([babashka.fs :as fs])
  test (clojure {:extra-env {"PATH" (str "on-path" fs/path-separator (System/getenv "PATH"))}}
                "-M:test")

  quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc {:git/branch "master"
                                 :github/repo "https://github.com/babashka/fs"
                                 :toc true})}}}
