{:pods {clj-kondo/clj-kondo {:version "2022.02.09"}}
 :deps {io.github.borkdude/quickdoc
        #_{:local/root "/Users/borkdude/dev/quickdoc"}
        {:git/sha "ca5893c0d81f26443dd178a747d0851e75d39eca"}}

 :tasks
 {:requires ([babashka.fs :as fs]
             [clojure.string :as str])
  test (clojure {:extra-env {(if (fs/windows?) "Path" "PATH") (str "on-path" fs/path-separator (System/getenv "PATH"))}}
                "-M:test")

  quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc {:git/branch "master"
                                 :github/repo "https://github.com/babashka/fs"
                                 :toc true
                                 :var-links true})}}}
