{:deps {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               clj-commons/fs {:mvn/version "1.5.2"}
                               com.google.cloud/google-cloud-nio {:mvn/version "0.123.10"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
