{:cljc {:features [:clj]}
 :linters {:unused-binding {:exclude-destructured-keys-in-fn-args true}
           :unresolved-symbol {:exclude [(babashka.fs-test-utils/with-tmp)]}}
 :config-paths ["../resources/clj-kondo.exports/babashka/fs"]}
